*{
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif;
    box-sizing: border-box;
    list-style: none;
}
/* header part*/
header {
    display: flex;
    background-color: #F0F0F0;
    border-width: thin;
    border-bottom: solid black;
}

header .nav_1{
    display: flex;
}

header ul{
    display: inline;
}

header ul li:hover{
    text-decoration: underline;
    background-color: cornflowerblue;
}

header ul li.hyphen:hover{
    text-decoration: none;
    background-color: #F0F0F0;
}

/*navigation part*/
nav{
    display: flex;
    align-items: flex-end;
    background-color: #CEE3F8;
    border-width: thin;
    border-bottom: solid #5F99CF;
    flex-wrap: wrap;
}
/*logo inside the navigation bar*/
nav img.reddit-logo{
    height: 75px;
    margin-right: auto;
}
/* left-part of the nav */
nav ul.nav_2-1{
    display:flex;
    flex-wrap: wrap;
}

nav ul  li.nav2-1_Items{
    font-weight: bold;
    font-size: 22px;
    background-color: #fbfbfb;
    color: black;
    margin: 0 0.1em;
    padding: 0 0.3em;
}


/* right-part of the nav */

nav ul.nav_2-2{
    display:flex;
    margin-left: auto;
    background-color: #fbfbfb;
    border-top-left-radius: 5px;
    padding-left: 10em;
    flex-wrap: wrap;
}

nav ul li.nav2-2_Items{
    font-size: 11px;
    color: #5F99CF;
    padding: 0 .3em;
    cursor: pointer;

}

/* content */
.content{
    /* display: flex; */
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 3fr 2fr ;
    margin: 10px 0;
}

/* number */
.number{
    font-size: 20px;    
    float: right;
    color: grey;
    margin-top: 15px;
}

#votes{
    color: gray;
    font-weight: 600;
}

/* arrow */

.post-votes{
    text-align: center;
    font-size: 13px;
    float: left;
}

.arrow{
    border: 2px solid gray;
    display: inline-block;
    padding: 2px;
    border-top: 0;
    border-left: 0;
}

.up{
    transform: rotate(-135deg);
}

.down{
    transform: rotate(45deg);
}

/* posts */

.submit-link{
    color:#4682b4;
    text-decoration: none;
}

.post-options{
    color: grey;
    font-weight: bold;
    margin-bottom: 2em;
}

.project{
    margin-bottom: 15px;
}

.profile-buttons{
    float: right;
}

input{
    height: 40px;
    text-align: center;
    width: 100%;
    margin: 5px 0;
    background-color: #CEE3F8;
    padding: 3px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    color: dodgerblue;
}

input[type=search]{
width: 80%;
margin: 10px 0;
background-color: transparent;
border: 2px solid;
text-align: left;
cursor: text;
color: black;
}

.progress{
    display: grid;
    place-items: center;
    border: 2px solid rgba(128, 128, 128, 0.5);
    margin-top: -5px;
    border-top:2px solid rgba(255, 215, 0,0.5);
    padding: 10px;
}

.progress-content{
    margin-bottom: 10px;
}

.progress-content-percentage{
    font-weight: 800;
    font-size: 1.5rem;
}

#progress-bar{
    margin: 15px 0 5px 0;
    width: 100%;
    background-color: gold;
    border: solid gold;
    border-radius: 10px;
    height: 10px;
}

.helpButton{
    box-shadow: 0 3px 1px rgba(0,0,0,0.5);
    cursor: pointer;
}

/* @media (max-width:1136px){
    nav ul.nav_2-1{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
} */

@media(max-width:700px){
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .post-votes{
        margin: 25px 0;
    }
    .post-options{
        margin-bottom: 25px;
    }
}